body{
    
    background-image: url('assets/images/wallpaper.jpg');
    background-attachment: fixed;
}

#chocobos{
    background-image: linear-gradient(to top, rgb(15, 175, 0) 0%, #007FAD 100%);
    filter: opacity(50%);
    border: 20px ridge green;
    width: 800px;
    height: 600px;
    margin: 0 auto;
}
h1{
    font-weight: bold;
  font-size: 68px;
  font-family: "Arial";
  text-shadow:0 10px 10px black;
  color: yellow;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
td, tr, td{
            text-align: center;
        }
h1, #opciones{
            text-align: center;
        }
        #users-contain > table{
            margin: 0 auto;
        }
        button{
            margin: 0.5em;
        }
        